.questions {
  /* background: #ecf1f1; */
  padding: 100px 0px;
  display: flex;
  justify-content: center;
}

.questionsContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.questionsItem {
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box,
    linear-gradient(170deg, rgb(82, 82, 82), rgba(82, 82, 82, 0)) border-box;
  border: 1px solid transparent;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-bottom: 20px; */
  transition: all 0.5s ease;
  gap: 0px;
  background-color: #1e1e1e;
  font-size: 17px;
  font-weight: 400;
  padding-left: 17px;
  padding-right: 14px;
  min-height: 70px;
  justify-content: center;
  transition: all 0.5s ease;
}

.questionsItemActive {
  transition: all 0.5s ease;
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box,
    linear-gradient(170deg, rgb(82, 82, 82), rgba(82, 82, 82, 0)) border-box;
  background-color: #1e1e1e;
}

@media (hover: hover) {
  .questionsItem:hover {
    background: #7d6137;
  }
}

.questionsItemActive:hover {
  background: linear-gradient(#1e1e1e, #1e1e1e) padding-box,
    linear-gradient(170deg, rgb(82, 82, 82), rgba(82, 82, 82, 0)) border-box;
  background-color: #1e1e1e;
}

.questionsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: 500;
  min-height: 70px;
}

.questionsArrow {
  width: 25px;
  height: 25px;
  background: url(../assets/dropdown-plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.2s ease-in-out;
}

.questionsArrowActive {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
  filter: grayscale(100%);
  background: url(../assets/dropdown-minus.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
}

.questionsQuestion {
  margin: 0;
  font-size: 17px;
  line-height: 124.69%;
  text-align: left;
}

.questionsAnswerText {
  margin: 0;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  text-align: left;
}

.questionsAnswer {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden;
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.questionsAnswerActive {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
.questionsAnkor {
  text-decoration: none;
}

.backgroundImage {
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
  object-fit: cover;
  width: 100%;
}

@media (width > 760px) {
  .questionsQuestion {
    font-size: 24px;
    line-height: 29px;
  }
  .questionsAnswer {
    width: 100%;
  }
  .backgroundImage {
    width: 100%;
  }
  .questionsHeader {
    font-weight: 400;
  }
}

/* @media (width<500px) {
  .questionsItem:hover {
    background-color: #1e1e1e;
    opacity: 0.8;
  }
} */

@media (hover: none) {
  .questionsItem:active {
    background: #7d6137;
  }
}
